div.row-two-cell-50.main-project-row
    a(href="#").cell
        div.cell-img
            picture
                source(media="(min-width: 900px)" srcset="img/projects/project_1/cover_1200.jpg")
                source(media="(min-width: 700px)" srcset="img/projects/project_1/cover_1200.jpg")
                img(srcset="img/projects/project_1/cover_mob.jpg" loading="lazy").cell-img__img
        div.cell-text
            h3 project title
            p description project
    a(href="#").cell
        div.cell-img
            picture
                source(media="(min-width: 900px)" srcset="img/projects/project_1/cover_1200.jpg")
                source(media="(min-width: 700px)" srcset="img/projects/project_1/cover_1200.jpg")
                img(srcset="img/projects/project_1/cover_mob.jpg" loading="lazy").cell-img__img
        div.cell-text
            h3 project title
            p description project

div.row-two-cell-50.main-project-row
    a(href="#").cell
        div.cell-img
            picture
                source(media="(min-width: 900px)" srcset="img/projects/project_1/cover_1200.jpg")
                source(media="(min-width: 700px)" srcset="img/projects/project_1/cover_1200.jpg")
                img(srcset="img/projects/project_1/cover_mob.jpg" loading="lazy").cell-img__img
        div.cell-text
            h3 project title
            p description project
    a(href="#").cell
        div.cell-img
            picture
                source(media="(min-width: 900px)" srcset="img/projects/project_1/cover_1200.jpg")
                source(media="(min-width: 700px)" srcset="img/projects/project_1/cover_1200.jpg")
                img(srcset="img/projects/project_1/cover_mob.jpg" loading="lazy").cell-img__img
        div.cell-text
            h3 project title
            p description project

div.row-two-cell-50.main-project-row
    a(href="#").cell
        div.cell-img
            picture
                source(media="(min-width: 900px)" srcset="img/projects/project_1/cover_1200.jpg")
                source(media="(min-width: 700px)" srcset="img/projects/project_1/cover_1200.jpg")
                img(srcset="img/projects/project_1/cover_mob.jpg" loading="lazy").cell-img__img
        div.cell-text
            h3 project title
            p description project
    a(href="#").cell
        div.cell-img
            picture
                source(media="(min-width: 900px)" srcset="img/projects/project_1/cover_1200.jpg")
                source(media="(min-width: 700px)" srcset="img/projects/project_1/cover_1200.jpg")
                img(srcset="img/projects/project_1/cover_mob.jpg" loading="lazy").cell-img__img
        div.cell-text
            h3 project title
            p description project


