section.main-menu__wrap
    div.row-two-cell-50
        div.cell
            h1.main-menu__logo andgraphics
        div.cell.main-menu__cell
            ul.main-menu__list
                li.main-menu__item
                    a(href='#') Работы
                li.main-menu__item
                    a(href='#') Презентации
                li.main-menu__item
                    a(href='#') О нас
                li.main-menu__item
                    a(href='#') Контакты

            div.main-menu__medal-list
                div.main-menu__medal-item
                div.main-menu__medal-item

        button.main-menu__open-menu-btn
            span Меню +
