section.row-two-cell-50
    div.row
        div.cell
            div.cell__img-wrap
            div.cell__text-wrap
                h3.cell__title title project
                p.cell__sub-title sub title description
        div.cell
            div.cell__img-wrap
            div.cell__text-wrap
                h3.cell__title title project
                p.cell__sub-title sub title description
