doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= pageTitle
        //link(rel='stylesheet' href='fonts/LabGrotesque/stylesheet.css')
        link(rel='stylesheet' href='./style/style.css')
    body
        div.wrapper
            include module/index/main-video
            div.main-content
                div.container
                    include module/index/main-title
                    include module/index/main-projects
            include module/footer
